.sign{
    text-align:right;
    margin-right:40%;
    margin-top:20%;
    }
    h1{
    margin-right:10%;
    }
    .button{
    padding:15px;
    border:2px solid black;
    border-radius:15px;
    margin-right:20px;
    margin-left:20px;
    background-color: orange;
    color: white;
    }
    body{
    background-image: url('https://cdni.iconscout.com/illustration/premium/thumb/create-account-6333606-5230166.png');
    background-size:fixed;
    background-repeat: no-repeat;
    }
    .button:hover{
        background-color: green;
        color:black;
        cursor:pointer;
    }